@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .h-safe-bottom {
    height: env(safe-area-inset-bottom);
  }
  
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
